html, body {
  height: 100%;
  width: 100%;
  background-color: white;
  color: #444;
  margin: 0;
  padding: 0;
  font-family: 'Libre Baskerville', serif;
}

.content {
  width: 800px;
  margin: 0 auto;
  padding-top: 50px;
  position: relative;
}

.title {
  margin-bottom: 2px;
}

.subtitle {
  margin-top: 0;
  color: #aaa;
}

.visualization {
  margin-top: 50px;
}

text {
  font: 24px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
  pointer-events: none;
}

circle:hover {
  opacity: 0.7;
  stroke-width: 2px;
  stroke: black;
}

.player {
  display: block;
  color: #aaa;
}

.value {
  font-size: 32px;
  margin-bottom: 7px;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  display: inline;
  list-style: none;
  margin: 0;
  padding-right: 15px;
  cursor: pointer;
}
